.banner {
    &.banner--primary {
        background: url(../images/banner.jpg) no-repeat center;
        background-size: cover;
        height: 870px;
        margin-top: 56px;
        color: $white;
        @include iPad-below{
            height: 480px;
        }
    }
    &.banner--secondary{
        background: url(../images/banner1.jpg) no-repeat center;
        background-size: cover;
        height: 600px;
    }
    .banner__title {
        font-size: $font-xxxl;
        font-weight: bold;
        @include iPad-below{
            font-size: $font-xxl;
        }
    }
    .banner__txt {
        font-size: $font-xl;
        @include iPad-below{
            font-size: $font-lg;
        }
    }
    .banner__btn {
        font-size: $font-xxl;
        padding: 0 80px;
        @include iPad-below{
            font-size: $font-xl;
        }
    }
    .banner__hightlight{
        font-size: $font-xxl;
        font-weight: bold;
        color: $baseColor;
    }
    .input-group{
        margin-bottom: 112px;
    }
}
.intro {
    .intro__item__title {
        font-size: $font-xxl;
        font-weight: bold;
    }
    .intro__item__txt {
        font-size: $font-lg;
    }
    .intro__item__subtitle {
        font-size: $font-xl;
        font-weight: bold;
    }
    .intro__item__btn {
        font-size: $font-lg;
        padding: 8px 0;
    }
}