/* --------------按鈕樣式開始--------------- */
.btn-bordered-light{
    @include btn-bordered($white);
}
.btn-bordered-dark{
    @include btn-bordered($black);
}
.btn-solid-highlight{
    @include btn-solid($white,$highlightColor);
}
/* --------------連結設定開始--------------- */
.check-link{
    color: $primaryColor;
}
.link-light{
    @include link($white);
}
.link-dark{
    @include link($black);
}
/* --------------文字設定開始--------------- */
.note-txt{
    color: $baseColor;
}
.delete-txt{
    color: $baseColor;
    text-decoration: line-through;
}
/* --------------區塊設定開始--------------- */
.sale {
    &.sale--dark{
        background: $bgLightColor;
    }
    .sale__title {
        font-weight: bold;
        font-size: $font-xl;
        @include iPad-below{
            font-size: $font-lg;
        }
    }
    .sale__btn{
        display: inline-block;
        &:hover{
            opacity: 0.8;
        }
        img{
            filter: invert(33%) sepia(99%) saturate(414%) hue-rotate(356deg) brightness(96%) contrast(86%);
        }
    }
}
.input-group{
    .form-control{
        border: 1px solid $highlightColor;
        font-size: $font-md;
    }
    .input-group-text{
        border: 0;
        cursor: pointer;
    }
}
.item-box {
    max-width: 350px;
}
.page{
    .page--active{
        color: $primaryColor;
        text-decoration: underline;
    }
}