/* --------------顏色設定開始--------------- */
$primaryColor:#AC8A46;
$highlightColor:#916000;
$baseColor:#8D8D8D;
$bgLightColor:#E0E0E0;
$bgDarkColor:#707070;
$white:#fff;
$black:#000000;

/* --------------字級設定開始--------------- */
$font-xs:.6em;
$font-sm:.875em;
$font-md:1em;
$font-lg:1.25em;
$font-xl:1.5em;
$font-xxl:2em;
$font-xxxl:2.5em;

